.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 2px solid black;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    padding: 10px 20px;
}

.screen {
    border: 2px solid black;
    border-radius: 10px;
    text-align: right;
}

.last {
    height: 30px;
    font-size: 18px;
}

.current {
    height: 60px;
    font-size: 36px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}

button {
    cursor: pointer;
}

.special {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}